{% extends 'base.html.twig' %}

{% block body %}
<div class="page-header">
  <h1>Welcome to NewTube!</h1>
</div>

<form class="login-form" action="/login">
  <input type="text" placeholder="User name" name="uname">
  <input type="text" placeholder="Password" name="pass">
  <input type="submit" value="Log in">
</form>

<div class="row">
  <div class="col-md-7 col-sm-12">
    <h3>Not a member yet? Join the community!</h3>

 <form class="register-form" action="/login">
   <input type="text" placeholder="User name" name="uname"> <br>
   <input type="text" placeholder="Password" name="pass"> <br>
   <input type="submit" value="Register">
 </form>
</div>
</div>


{% endblock %}