{% extends 'base.html.twig' %}

{% block body %}



    <div class="topBar">
        <form class="search" action="search">
            <input type="text" placeholder="Search" name="search">
            <input type="submit" value="Go">
        </form>
        <div class="userName">
            <span>Welcome {{ username }}</span>
            <a href="/logout" class="btn btn-default" class="logOut">Log out</a>
            <a href="/profil" class="btn btn-default">Profil</a>
        </div>
    </div>

    <div class="page-header">
        <h1>Video</h1>
    </div>

{% endblock %}
