/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.login-form {
  position: absolute;
  top: 2%;
  right: 5%;
}

.topBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 45px;
}

.search {
  float: left;
  padding: 8px 8px;
  height: 14px;

}

.logOut{
  color:black;
}

.userName {
  float: right;
  color: white;
  padding: 8px;
}
/*  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;*/


li a:hover {
  background-color: #111;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
